body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
}

.container {
    max-width: 50%; /* Set the maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
}

#uniqueID1 ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-family: monospace;
}

#uniqueID1 li {
    display: inline;
    margin-right: 10px;
}

#uniqueID1 a {
    text-decoration: none;
    color: white; /* Set the text color of anchor links */
}

#uniqueID1 a:hover {
    text-decoration: underline;
    color: green;
    animation: colorChange 8s forwards; /* Animation for changing color after 5 seconds */
}

@keyframes colorChange {
    0% {
        color: red;
    }
    50% {
        color: blue;
    }
    100% {
        color: green;
    }
}


#image1 img {
    max-width: 70%; /* Set the image width to 100% of the container */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image within the container */
}

#about p {
    max-width: 35%; /* Set the maximum width for the paragraph */
    margin: auto; /* Center the paragraph horizontally */
    text-align: justify;
}

