body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
}

.container {
    max-width: 50%; /* Set the maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
}

#uniqueID1 ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-family: monospace;
}

#uniqueID1 li {
    display: inline;
    margin-right: 10px;
}

#image1 img {
    max-width: 100%; /* Set the image width to 100% of the container */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image within the container */
}

#about p {
    max-width: 50%; /* Set the maximum width for the paragraph */
    margin: 0 auto; /* Center the paragraph horizontally */
    text-align: left;
}

